####################################
# BOT TOKEN
####################################

TOKEN=COLE_SEU_TOKEN_AQUI

####################################
# BANCO DE DADOS
####################################

DATABASE=database.sqlite

####################################
# CONFIGURAÇÕES
####################################

PREFIX=.

BOT_NAME=Bot de Mediadores

####################################
# PIX PADRÃO
####################################

PIX_KEY=

PIX_NAME=

PIX_CITY=
